In [1]:
import pandas as pd
df=pd.read_csv("pokemon_data.csv",index_col="Pokemon").squeeze()

In [2]:
df.index

Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       ...
       'Bergmite', 'Avalugg', 'Noibat', 'Noivern', 'Xerneas', 'Yveltal',
       'Zygarde', 'Diancie', 'Hoopa', 'Volcanion'],
      dtype='object', name='Pokemon', length=721)

In [3]:
df.values

array(['Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Water',
       'Water', 'Water', 'Bug', 'Bug', 'Bug', 'Bug', 'Bug', 'Bug',
       'Normal', 'Normal', 'Normal', 'Normal', 'Normal', 'Normal',
       'Normal', 'Poison', 'Poison', 'Electric', 'Electric', 'Ground',
       'Ground', 'Poison', 'Poison', 'Poison', 'Poison', 'Poison',
       'Poison', 'Fairy', 'Fairy', 'Fire', 'Fire', 'Normal', 'Normal',
       'Poison', 'Poison', 'Grass', 'Grass', 'Grass', 'Bug', 'Bug', 'Bug',
       'Bug', 'Ground', 'Ground', 'Normal', 'Normal', 'Water', 'Water',
       'Fighting', 'Fighting', 'Fire', 'Fire', 'Water', 'Water', 'Water',
       'Psychic', 'Psychic', 'Psychic', 'Fighting', 'Fighting',
       'Fighting', 'Grass', 'Grass', 'Grass', 'Water', 'Water', 'Rock',
       'Rock', 'Rock', 'Fire', 'Fire', 'Water', 'Water', 'Electric',
       'Electric', 'Normal', 'Normal', 'Normal', 'Water', 'Water',
       'Poison', 'Poison', 'Water', 'Water', 'Ghost', 'Ghost', 'Ghost',
       'Rock', 'Psychic', 'Psychic', 'Water', 'Water', 'Electric',
       'Electric', 'Grass', 'Grass', 'Ground', 'Ground', 'Fighting',
       'Fighting', 'Normal', 'Poison', 'Poison', 'Ground', 'Ground',
       'Normal', 'Grass', 'Normal', 'Water', 'Water', 'Water', 'Water',
       'Water', 'Water', 'Psychic', 'Bug', 'Ice', 'Electric', 'Fire',
       'Bug', 'Normal', 'Water', 'Water', 'Water', 'Normal', 'Normal',
       'Water', 'Electric', 'Fire', 'Normal', 'Rock', 'Rock', 'Rock',
       'Rock', 'Rock', 'Normal', 'Ice', 'Electric', 'Fire', 'Dragon',
       'Dragon', 'Dragon', 'Psychic', 'Psychic', 'Grass', 'Grass',
       'Grass', 'Fire', 'Fire', 'Fire', 'Water', 'Water', 'Water',
       'Normal', 'Normal', 'Normal', 'Normal', 'Bug', 'Bug', 'Bug', 'Bug',
       'Poison', 'Water', 'Water', 'Electric', 'Fairy', 'Normal', 'Fairy',
       'Fairy', 'Psychic', 'Psychic', 'Electric', 'Electric', 'Electric',
       'Grass', 'Water', 'Water', 'Rock', 'Water', 'Grass', 'Grass',
       'Grass', 'Normal', 'Grass', 'Grass', 'Bug', 'Water', 'Water',
       'Psychic', 'Dark', 'Dark', 'Water', 'Ghost', 'Psychic', 'Psychic',
       'Normal', 'Bug', 'Bug', 'Normal', 'Ground', 'Steel', 'Fairy',
       'Fairy', 'Water', 'Bug', 'Bug', 'Bug', 'Dark', 'Normal', 'Normal',
       'Fire', 'Fire', 'Ice', 'Ice', 'Water', 'Water', 'Water', 'Ice',
       'Water', 'Steel', 'Dark', 'Dark', 'Water', 'Ground', 'Ground',
       'Normal', 'Normal', 'Normal', 'Fighting', 'Fighting', 'Ice',
       'Electric', 'Fire', 'Normal', 'Normal', 'Electric', 'Fire',
       'Water', 'Rock', 'Rock', 'Rock', 'Psychic', 'Fire', 'Psychic',
       'Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Water',
       'Water', 'Water', 'Dark', 'Dark', 'Normal', 'Normal', 'Bug', 'Bug',
       'Bug', 'Bug', 'Bug', 'Water', 'Water', 'Water', 'Grass', 'Grass',
       'Grass', 'Normal', 'Normal', 'Water', 'Water', 'Psychic',
       'Psychic', 'Psychic', 'Bug', 'Bug', 'Grass', 'Grass', 'Normal',
       'Normal', 'Normal', 'Bug', 'Bug', 'Bug', 'Normal', 'Normal',
       'Normal', 'Fighting', 'Fighting', 'Normal', 'Rock', 'Normal',
       'Normal', 'Dark', 'Steel', 'Steel', 'Steel', 'Steel', 'Fighting',
       'Fighting', 'Electric', 'Electric', 'Electric', 'Electric', 'Bug',
       'Bug', 'Grass', 'Poison', 'Poison', 'Water', 'Water', 'Water',
       'Water', 'Fire', 'Fire', 'Fire', 'Psychic', 'Psychic', 'Normal',
       'Ground', 'Ground', 'Ground', 'Grass', 'Grass', 'Normal', 'Dragon',
       'Normal', 'Poison', 'Rock', 'Rock', 'Water', 'Water', 'Water',
       'Water', 'Ground', 'Ground', 'Rock', 'Rock', 'Rock', 'Rock',
       'Water', 'Water', 'Normal', 'Normal', 'Ghost', 'Ghost', 'Ghost',
       'Ghost', 'Grass', 'Psychic', 'Dark', 'Psychic', 'Ice', 'Ice',
       'Ice', 'Ice', 'Ice', 'Water', 'Water', 'Water', 'Water', 'Water',
       'Dragon', 'Dragon', 'Dragon', 'Steel', 'Steel', 'Steel', 'Rock',
       'Ice', 'Steel', 'Dragon', 'Dragon', 'Water', 'Ground', 'Dragon',
       'Steel', 'Psychic', 'Grass', 'Grass', 'Grass', 'Fire', 'Fire',
       'Fire', 'Water', 'Water', 'Water', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Bug', 'Bug', 'Electric', 'Electric',
       'Electric', 'Grass', 'Grass', 'Rock', 'Rock', 'Rock', 'Rock',
       'Bug', 'Bug', 'Bug', 'Bug', 'Bug', 'Electric', 'Water', 'Water',
       'Grass', 'Grass', 'Water', 'Water', 'Normal', 'Ghost', 'Ghost',
       'Normal', 'Normal', 'Ghost', 'Dark', 'Normal', 'Normal', 'Psychic',
       'Poison', 'Poison', 'Steel', 'Steel', 'Rock', 'Psychic', 'Normal',
       'Normal', 'Ghost', 'Dragon', 'Dragon', 'Dragon', 'Normal',
       'Fighting', 'Fighting', 'Ground', 'Ground', 'Poison', 'Poison',
       'Poison', 'Poison', 'Grass', 'Water', 'Water', 'Water', 'Grass',
       'Grass', 'Dark', 'Electric', 'Normal', 'Ground', 'Grass',
       'Electric', 'Fire', 'Fairy', 'Bug', 'Grass', 'Ice', 'Ground',
       'Ice', 'Normal', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Electric',
       'Psychic', 'Psychic', 'Psychic', 'Steel', 'Water', 'Fire',
       'Normal', 'Ghost', 'Psychic', 'Water', 'Water', 'Dark', 'Grass',
       'Normal', 'Psychic', 'Grass', 'Grass', 'Grass', 'Fire', 'Fire',
       'Fire', 'Water', 'Water', 'Water', 'Normal', 'Normal', 'Normal',
       'Normal', 'Normal', 'Dark', 'Dark', 'Grass', 'Grass', 'Fire',
       'Fire', 'Water', 'Water', 'Psychic', 'Psychic', 'Normal', 'Normal',
       'Normal', 'Electric', 'Electric', 'Rock', 'Rock', 'Rock',
       'Psychic', 'Psychic', 'Ground', 'Ground', 'Normal', 'Fighting',
       'Fighting', 'Fighting', 'Water', 'Water', 'Water', 'Fighting',
       'Fighting', 'Bug', 'Bug', 'Bug', 'Bug', 'Bug', 'Bug', 'Grass',
       'Grass', 'Grass', 'Grass', 'Water', 'Ground', 'Ground', 'Ground',
       'Fire', 'Fire', 'Grass', 'Bug', 'Bug', 'Dark', 'Dark', 'Psychic',
       'Ghost', 'Ghost', 'Water', 'Water', 'Rock', 'Rock', 'Poison',
       'Poison', 'Dark', 'Dark', 'Normal', 'Normal', 'Psychic', 'Psychic',
       'Psychic', 'Psychic', 'Psychic', 'Psychic', 'Water', 'Water',
       'Ice', 'Ice', 'Ice', 'Normal', 'Normal', 'Electric', 'Bug', 'Bug',
       'Grass', 'Grass', 'Water', 'Water', 'Water', 'Bug', 'Bug', 'Grass',
       'Grass', 'Steel', 'Steel', 'Steel', 'Electric', 'Electric',
       'Electric', 'Psychic', 'Psychic', 'Ghost', 'Ghost', 'Ghost',
       'Dragon', 'Dragon', 'Dragon', 'Ice', 'Ice', 'Ice', 'Bug', 'Bug',
       'Ground', 'Fighting', 'Fighting', 'Dragon', 'Ground', 'Ground',
       'Dark', 'Dark', 'Normal', 'Normal', 'Normal', 'Dark', 'Dark',
       'Fire', 'Bug', 'Dark', 'Dark', 'Dark', 'Bug', 'Bug', 'Steel',
       'Rock', 'Grass', 'Flying', 'Electric', 'Dragon', 'Dragon',
       'Ground', 'Dragon', 'Water', 'Normal', 'Bug', 'Grass', 'Grass',
       'Grass', 'Fire', 'Fire', 'Fire', 'Water', 'Water', 'Water',
       'Normal', 'Normal', 'Normal', 'Fire', 'Fire', 'Bug', 'Bug', 'Bug',
       'Fire', 'Fire', 'Fairy', 'Fairy', 'Fairy', 'Grass', 'Grass',
       'Fighting', 'Fighting', 'Normal', 'Psychic', 'Psychic', 'Steel',
       'Steel', 'Steel', 'Fairy', 'Fairy', 'Fairy', 'Fairy', 'Dark',
       'Dark', 'Rock', 'Rock', 'Poison', 'Poison', 'Water', 'Water',
       'Electric', 'Electric', 'Rock', 'Rock', 'Rock', 'Rock', 'Fairy',
       'Fighting', 'Electric', 'Rock', 'Dragon', 'Dragon', 'Dragon',
       'Steel', 'Ghost', 'Ghost', 'Ghost', 'Ghost', 'Ice', 'Ice',
       'Flying', 'Flying', 'Fairy', 'Dark', 'Dragon', 'Rock', 'Psychic',
       'Fire'], dtype=object)

In [5]:
df.value_counts(normalize=True)

Water       0.145631
Normal      0.128988
Grass       0.091540
Bug         0.087379
Fire        0.065187
Psychic     0.065187
Rock        0.056865
Electric    0.049931
Ground      0.041609
Poison      0.038835
Dark        0.038835
Fighting    0.034674
Dragon      0.033287
Ghost       0.031900
Ice         0.031900
Steel       0.030513
Fairy       0.023578
Flying      0.004161
Name: Type, dtype: float64

In [12]:
df[[0,4,8]]

Pokemon
Bulbasaur     Grass
Charmeleon     Fire
Blastoise     Water
Name: Type, dtype: object

In [26]:
df=pd.read_csv("NbaInfo.csv")

In [27]:
df.dropna(inplace=True)

In [28]:
collegeSeries=df["College"]
collegeSeries

0              Texas
1          Marquette
3      Georgia State
6                LSU
7            Gonzaga
           ...
449             Duke
451           Dayton
452         Kentucky
453           Butler
456           Kansas
Name: College, Length: 364, dtype: object

In [29]:
collegeSeries.apply(len)

0       5
1       9
3      13
6       3
7       7
       ..
449     4
451     6
452     8
453     6
456     6
Name: College, Length: 364, dtype: int64

In [30]:
##Create a function. If the college name starts with leter with T, M, B, then we have to print invitation accepted else print not a
#accepted 

def func(x):
    if str(x[0].upper()) in ('T','M','B'):
        return "accepted"
    else:
        return "not accepted"
collegeSeries.apply(func)

0          accepted
1          accepted
3      not accepted
6      not accepted
7      not accepted
           ...
449    not accepted
451    not accepted
452    not accepted
453        accepted
456    not accepted
Name: College, Length: 364, dtype: object

In [31]:
map_dict={"Texas":"Invited","Butler":"not invited"}
collegeSeries.map(map_dict)

0          Invited
1              NaN
3              NaN
6              NaN
7              NaN
          ...
449            NaN
451            NaN
452            NaN
453    not invited
456            NaN
Name: College, Length: 364, dtype: object

In [32]:
collegeSeries.unique

<bound method Series.unique of 0              Texas
1          Marquette
3      Georgia State
6                LSU
7            Gonzaga
           ...
449             Duke
451           Dayton
452         Kentucky
453           Butler
456           Kansas
Name: College, Length: 364, dtype: object>

In [33]:
collegeSeries.unique()

array(['Texas', 'Marquette', 'Georgia State', 'LSU', 'Gonzaga',
       'Louisville', 'Oklahoma State', 'Ohio State', 'Washington',
       'Kentucky', 'North Carolina', 'Arizona', 'Georgia Tech',
       'Cincinnati', 'Miami (FL)', 'Stanford', 'Syracuse', 'Saint Louis',
       'Kansas', 'Georgetown', 'Texas A&M', 'UCLA', 'UNLV',
       'Wichita State', "Saint Joseph's", 'Notre Dame', 'Norfolk State',
       'Duke', 'Murray State', 'Tennessee State', 'Bowling Green',
       'Purdue', 'Wake Forest', 'Michigan', 'Missouri', 'USC',
       'Villanova', 'Rider', 'Utah', 'Belmont', 'Davidson', 'Vanderbilt',
       'Michigan State', 'Florida', 'Washington State', 'Arizona State',
       'Oklahoma', 'Wyoming', "St. John's", 'Maryland', 'Wisconsin',
       'Utah Valley', 'North Carolina State', 'UC Santa Barbara',
       'Baylor', 'Connecticut', 'Oregon State', 'New Mexico', 'Oregon',
       'Creighton', 'Arkansas', 'Memphis', "Saint Mary's", 'Tennessee',
       'Alabama', 'Georgia', 'Colorado', 'Boston College', 'Temple',
       'Fresno State', 'IUPUI', 'Eastern Washington', 'Western Michigan',
       'Virginia', 'Northeastern', 'Western Kentucky', 'Nevada',
       'Illinois', 'Kansas State', 'Charleston', 'Clemson',
       'Blinn College', 'Providence', 'California', 'Cleveland State',
       'Iowa State', 'Florida State', 'Long Beach State', 'Penn State',
       'Indiana', 'San Diego State', 'Western Carolina', 'Houston',
       'Xavier', 'Old Dominion', 'Minnesota', 'Louisiana Tech',
       'Bucknell', 'Pittsburgh', 'Virginia Commonwealth', 'Harvard',
       'Marshall', 'Iowa', 'St. Bonaventure', 'Louisiana-Lafayette',
       'Colorado State', 'Virginia Tech', 'DePaul', 'Morehead State',
       'Central Michigan', 'Weber State', 'Lehigh', 'Westchester CC',
       'Dayton', 'Butler'], dtype=object)

In [34]:
collegeSeries.nunique

<bound method IndexOpsMixin.nunique of 0              Texas
1          Marquette
3      Georgia State
6                LSU
7            Gonzaga
           ...
449             Duke
451           Dayton
452         Kentucky
453           Butler
456           Kansas
Name: College, Length: 364, dtype: object>

In [35]:
 collegeSeries.nunique() #Return no of unique values

115

In [36]:
collegeSeries.describe()

count          364
unique         115
top       Kentucky
freq            22
Name: College, dtype: object

In [38]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      364 non-null    object
 1   Team      364 non-null    object
 2   Number    364 non-null    float64
 3   Position  364 non-null    object
 4   Age       364 non-null    float64
 5   Height    364 non-null    object
 6   Weight    364 non-null    float64
 7   College   364 non-null    object
 8   Salary    364 non-null    float64
dtypes: float64(4), object(5)
memory usage: 28.4+ KB

In [40]:
df.describe()

           Number         Age      Weight        Salary
count  364.000000  364.000000  364.000000  3.640000e+02
mean    16.829670   26.615385  219.785714  4.620311e+06
std     14.994162    4.233591   24.793099  5.119716e+06
min      0.000000   19.000000  161.000000  5.572200e+04
25%      5.000000   24.000000  200.000000  1.000000e+06
50%     12.000000   26.000000  220.000000  2.515440e+06
75%     25.000000   29.000000  240.000000  6.149694e+06
max     99.000000   40.000000  279.000000  2.287500e+07

In [41]:
df.dropna(how='any')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [43]:
df.dropna(how='all') #By default axis=0

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [44]:
df.dropna(subset=["Salary","College"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [45]:
df.dropna(thresh=5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [49]:
df['Salary']=df['Salary'].astype("int64")

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      364 non-null    object
 1   Team      364 non-null    object
 2   Number    364 non-null    float64
 3   Position  364 non-null    object
 4   Age       364 non-null    float64
 5   Height    364 non-null    object
 6   Weight    364 non-null    float64
 7   College   364 non-null    object
 8   Salary    364 non-null    int64
dtypes: float64(3), int64(1), object(5)
memory usage: 28.4+ KB

In [51]:
df['Number']=df['Number'].astype('int')
df['Age']=df['Age'].astype('int')

In [54]:
df.shape #return numbers of rows and columns in a dataframe

(364, 9)

In [55]:
df.dropna(axis=1,thresh=df.shape[0]*0.9)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235.0,LSU,1170960
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238.0,Gonzaga,2165160
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,6-8,206.0,Duke,1348440
451,Chris Johnson,Utah Jazz,23,SF,26,6-6,206.0,Dayton,981348
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234.0,Kentucky,2239800
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203.0,Butler,2433333
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231.0,Kansas,947276

In [56]:
#filling null values
df[["Salary","Number"]].fillna(0)

      Salary  Number
0    7730337       0
1    6796117      99
3    1148640      28
6    1170960      55
7    2165160      41
..       ...     ...
449  1348440       5
451   981348      23
452  2239800      41
453  2433333       8
456   947276      24

[364 rows x 2 columns]

In [57]:
df['Salary'].hasnans

False

In [58]:
df.nunique()

Name        364
Team         30
Number       51
Position      5
Age          22
Height       17
Weight       76
College     115
Salary      256
dtype: int64

In [60]:
df.dtypes

Name         object
Team         object
Number        int32
Position     object
Age           int32
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [65]:
df['Position']=df['Position'].astype('category')

In [64]:
df['Team']=df['Team'].astype('category')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      364 non-null    object
 1   Team      364 non-null    category
 2   Number    364 non-null    int32
 3   Position  364 non-null    category
 4   Age       364 non-null    int32
 5   Height    364 non-null    object
 6   Weight    364 non-null    float64
 7   College   364 non-null    object
 8   Salary    364 non-null    int64
dtypes: category(2), float64(1), int32(2), int64(1), object(3)
memory usage: 22.1+ KB

In [73]:
df.sort_values(by=['Name','Salary'],ascending=[True,False])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,6-0,161.0,Oregon,2250000
356,Aaron Gordon,Orlando Magic,0,PF,20,6-9,220.0,Arizona,4171680
328,Aaron Harrison,Charlotte Hornets,9,SG,21,6-6,210.0,Kentucky,525093
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,6-10,237.0,Michigan State,1938840
312,Al Horford,Atlanta Hawks,15,C,30,6-10,245.0,Florida,12000000
...,...,...,...,...,...,...,...,...,...
141,Willie Cauley-Stein,Sacramento Kings,0,C,22,7-0,240.0,Kentucky,3398280
25,Willie Reed,Brooklyn Nets,33,PF,26,6-10,220.0,Saint Louis,947276
386,Wilson Chandler,Denver Nuggets,21,SF,29,6-8,225.0,DePaul,10449438
402,Zach LaVine,Minnesota Timberwolves,8,PG,21,6-5,189.0,UCLA,2148360
271,Zach Randolph,Memphis Grizzlies,50,PF,34,6-9,260.0,Michigan State,9638555

In [84]:
df[df.duplicated(subset=["Team"],keep=False)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235.0,LSU,1170960
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238.0,Gonzaga,2165160
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,6-8,206.0,Duke,1348440
451,Chris Johnson,Utah Jazz,23,SF,26,6-6,206.0,Dayton,981348
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234.0,Kentucky,2239800
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203.0,Butler,2433333
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231.0,Kansas,947276

In [85]:
import numpy as np
a=np.array([[2,3,4],[4,5,6]])
a.shape

(2, 3)

In [89]:
x=np.array([[1,2,3],[4,5,6]])
y=np.array([1,2,3])
y+x

array([[2, 4, 6],
       [5, 7, 9]])

In [90]:
a=np.array([1,2,3])
a.ndim

1

In [93]:
a.reshape(1,3)
a.ndim

1

In [94]:
a

array([1, 2, 3])

In [95]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235.0,LSU,1170960
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238.0,Gonzaga,2165160
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,6-8,206.0,Duke,1348440
451,Chris Johnson,Utah Jazz,23,SF,26,6-6,206.0,Dayton,981348
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234.0,Kentucky,2239800
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203.0,Butler,2433333
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231.0,Kansas,947276

In [100]:
df[(df["Age"].isin((25,28,30))) &((df['Salary']>=2500000) & (df['Salary']<=4000000))]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
44,Derrick Williams,New York Knicks,23,PF,25,6-8,240.0,Arizona,4000000
71,Terrence Ross,Toronto Raptors,31,SF,25,6-7,195.0,Washington,3553917
88,Marreese Speights,Golden State Warriors,5,C,28,6-10,255.0,Florida,3815000
201,Jordan Hill,Indiana Pacers,27,C,28,6-10,235.0,Arizona,4000000
216,John Henson,Milwaukee Bucks,31,PF,25,6-11,229.0,North Carolina,2943221
293,Quincy Pondexter,New Orleans Pelicans,20,SF,28,6-7,220.0,Washington,3382023
383,Darrell Arthur,Denver Nuggets,0,PF,28,6-9,235.0,Kansas,2814000
384,D.J. Augustin,Denver Nuggets,12,PG,28,6-0,183.0,Texas,3000000
385,Will Barton,Denver Nuggets,5,SF,25,6-6,175.0,Memphis,3533333
421,Anthony Morrow,Oklahoma City Thunder,2,SG,30,6-5,210.0,Georgia Tech,3344000
440,Brian Roberts,Portland Trail Blazers,2,PG,30,6-1,173.0,Dayton,2854940

In [101]:
df[df['Salary'].between(2500000,4000000)]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
9,Marcus Smart,Boston Celtics,36,PG,22,6-4,220.0,Oklahoma State,3431040
10,Jared Sullinger,Boston Celtics,7,C,24,6-9,260.0,Ohio State,2569260
12,Evan Turner,Boston Celtics,11,SG,27,6-7,220.0,Ohio State,3425510
14,Tyler Zeller,Boston Celtics,44,C,26,7-0,253.0,North Carolina,2616975
39,Kyle O'Quinn,New York Knicks,9,PF,26,6-10,250.0,Norfolk State,3750000
44,Derrick Williams,New York Knicks,23,PF,25,6-8,240.0,Arizona,4000000
55,Nerlens Noel,Philadelphia 76ers,4,PF,22,6-11,228.0,Kentucky,3457800
58,Nik Stauskas,Philadelphia 76ers,11,SG,22,6-6,205.0,Michigan,2869440
65,James Johnson,Toronto Raptors,3,PF,29,6-9,250.0,Wake Forest,2500000
71,Terrence Ross,Toronto Raptors,31,SF,25,6-7,195.0,Washington,3553917
77,Harrison Barnes,Golden State Warriors,40,SF,24,6-8,225.0,North Carolina,3873398
88,Marreese Speights,Golden State Warriors,5,C,28,6-10,255.0,Florida,3815000
101,Paul Pierce,Los Angeles Clippers,34,SF,38,6-7,235.0,Kansas,3376000
104,Austin Rivers,Los Angeles Clippers,25,PG,23,6-4,200.0,Duke,3110796
106,Brandon Bass,Los Angeles Lakers,2,PF,31,6-8,250.0,LSU,3000000
115,Julius Randle,Los Angeles Lakers,30,PF,21,6-9,250.0,Kentucky,3132240
128,Alex Len,Phoenix Suns,21,C,22,7-1,260.0,Maryland,3807120
141,Willie Cauley-Stein,Sacramento Kings,0,C,22,7-0,240.0,Kentucky,3398280
148,Ben McLemore,Sacramento Kings,23,SG,23,6-5,195.0,Kansas,3156600
181,Joel Anthony,Detroit Pistons,50,C,33,6-9,245.0,UNLV,2500000
186,Kentavious Caldwell-Pope,Detroit Pistons,5,SG,23,6-5,205.0,Georgia,2891760
188,Andre Drummond,Detroit Pistons,0,C,22,6-11,279.0,Connecticut,3272091
192,Stanley Johnson,Detroit Pistons,3,SF,20,6-7,245.0,Arizona,2841960
195,Anthony Tolliver,Detroit Pistons,43,PF,31,6-8,240.0,Creighton,3000000
201,Jordan Hill,Indiana Pacers,27,C,28,6-10,235.0,Arizona,4000000
212,Jerryd Bayless,Milwaukee Bucks,19,PG,27,6-3,200.0,Arizona,3000000
216,John Henson,Milwaukee Bucks,31,PF,25,6-11,229.0,North Carolina,2943221
230,Raymond Felton,Dallas Mavericks,2,PG,31,6-1,205.0,North Carolina,3950313
253,K.J. McDaniels,Houston Rockets,32,SG,23,6-6,205.0,Clemson,3189794
260,Matt Barnes,Memphis Grizzlies,22,SF,36,6-7,226.0,UCLA,3542500
279,Norris Cole,New Orleans Pelicans,30,PG,27,6-2,175.0,Cleveland State,3036927
280,Dante Cunningham,New Orleans Pelicans,44,PF,29,6-8,230.0,Villanova,2850000
293,Quincy Pondexter,New Orleans Pelicans,20,SF,28,6-7,220.0,Washington,3382023
305,Patty Mills,San Antonio Spurs,8,PG,27,6-0,185.0,Saint Mary's,3578947
311,Kirk Hinrich,Atlanta Hawks,12,SG,35,6-4,190.0,Kansas,2854940
319,Mike Scott,Atlanta Hawks,32,PF,27,6-8,237.0,Virginia,3333333
331,Frank Kaminsky III,Charlotte Hornets,44,C,23,7-0,240.0,Wisconsin,2612520
333,Jeremy Lamb,Charlotte Hornets,3,SG,24,6-5,185.0,Connecticut,3034356
343,Udonis Haslem,Miami Heat,40,PF,36,6-8,235.0,Florida,2854940
364,Elfrid Payton,Orlando Magic,4,PG,22,6-4,185.0,Louisiana-Lafayette,2505720
368,Alan Anderson,Washington Wizards,6,SG,33,6-6,220.0,Michigan State,4000000
372,Drew Gooden,Washington Wizards,90,PF,34,6-10,250.0,Kansas,3300000
383,Darrell Arthur,Denver Nuggets,0,PF,28,6-9,235.0,Kansas,2814000
384,D.J. Augustin,Denver Nuggets,12,PG,28,6-0,183.0,Texas,3000000
385,Will Barton,Denver Nuggets,5,SF,25,6-6,175.0,Memphis,3533333
413,Nick Collison,Oklahoma City Thunder,4,PF,35,6-10,255.0,Kansas,3750000
415,Randy Foye,Oklahoma City Thunder,6,SG,32,6-4,213.0,Villanova,3135000
421,Anthony Morrow,Oklahoma City Thunder,2,SG,30,6-5,210.0,Georgia Tech,3344000
432,Maurice Harkless,Portland Trail Blazers,4,SF,23,6-9,215.0,St. John's,2894059
435,Meyers Leonard,Portland Trail Blazers,11,PF,24,7-1,245.0,Illinois,3075880
437,C.J. McCollum,Portland Trail Blazers,3,SG,24,6-4,200.0,Lehigh,2525160
440,Brian Roberts,Portland Trail Blazers,2,PG,30,6-1,173.0,Dayton,2854940
441,Noah Vonleh,Portland Trail Blazers,21,PF,20,6-9,240.0,Indiana,2637720
443,Trey Burke,Utah Jazz,3,PG,23,6-1,191.0,Michigan,2658240

In [106]:
df[df['Name'].between('Brook Lopez','E')]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
23,Brook Lopez,Brooklyn Nets,11,C,28,7-0,275.0,Stanford,19689000
24,Chris McCullough,Brooklyn Nets,1,PF,21,6-11,200.0,Syracuse,1140240
28,Donald Sloan,Brooklyn Nets,15,PG,28,6-3,205.0,Texas A&M,947276
33,Carmelo Anthony,New York Knicks,7,SF,32,6-8,240.0,Syracuse,22875000
35,Cleanthony Early,New York Knicks,11,SF,25,6-8,210.0,Wichita State,845059
44,Derrick Williams,New York Knicks,23,PF,25,6-8,240.0,Arizona,4000000
52,Carl Landry,Philadelphia 76ers,7,PF,32,6-9,248.0,Purdue,6500000
60,Christian Wood,Philadelphia 76ers,35,PF,20,6-11,220.0,UNLV,525093
63,DeMarre Carroll,Toronto Raptors,5,SF,29,6-8,212.0,Missouri,13600000
64,DeMar DeRozan,Toronto Raptors,10,SG,26,6-7,220.0,USC,10050000
66,Cory Joseph,Toronto Raptors,6,PG,24,6-3,190.0,Texas,7000000
75,Delon Wright,Toronto Raptors,55,PG,24,6-5,190.0,Utah,1509360
82,Draymond Green,Golden State Warriors,23,PF,26,6-7,230.0,Michigan State,14260870
91,Cole Aldrich,Los Angeles Clippers,45,C,27,6-11,250.0,Kansas,1100602
98,DeAndre Jordan,Los Angeles Clippers,6,C,27,6-11,265.0,Texas A&M,19689000
100,Chris Paul,Los Angeles Clippers,3,PG,31,6-0,175.0,Wake Forest,21468695
105,C.J. Wilcox,Los Angeles Clippers,30,SG,25,6-5,195.0,Washington,1159680
116,D'Angelo Russell,Los Angeles Lakers,1,PG,20,6-5,195.0,Ohio State,5103120
122,Devin Booker,Phoenix Suns,1,SG,19,6-6,206.0,Kentucky,2127840
123,Chase Budinger,Phoenix Suns,10,SF,28,6-7,209.0,Arizona,206192
139,Caron Butler,Sacramento Kings,31,SF,36,6-7,228.0,Connecticut,1449187
142,Darren Collison,Sacramento Kings,7,PG,28,6-0,175.0,UCLA,5013559
143,DeMarcus Cousins,Sacramento Kings,15,C,25,6-11,270.0,Kentucky,15851950
145,Duje Dukan,Sacramento Kings,26,PF,24,6-9,220.0,Wisconsin,525093
151,Cameron Bairstow,Chicago Bulls,41,PF,25,6-9,250.0,New Mexico,845059
159,Doug McDermott,Chicago Bulls,3,SF,24,6-8,225.0,Creighton,2380440
164,Derrick Rose,Chicago Bulls,1,PG,27,6-3,190.0,Memphis,20093064
167,Channing Frye,Cleveland Cavaliers,9,PF,33,6-11,255.0,Arizona,8193029
190,Darrun Hilliard,Detroit Pistons,6,SF,23,6-6,205.0,Villanova,600000
231,Devin Harris,Dallas Mavericks,34,PG,33,6-3,185.0,Wisconsin,4053446
232,David Lee,Dallas Mavericks,42,PF,33,6-9,245.0,Florida,2085671
238,Chandler Parsons,Dallas Mavericks,25,SF,27,6-10,230.0,Florida,15361500
239,Dwight Powell,Dallas Mavericks,7,PF,24,6-11,240.0,Stanford,845059
240,Charlie Villanueva,Dallas Mavericks,3,PF,31,6-11,232.0,Connecticut,947276
241,Deron Williams,Dallas Mavericks,8,PG,31,6-3,200.0,Illinois,5378974
245,Corey Brewer,Houston Rockets,33,SG,30,6-9,186.0,Florida,8229375
259,Chris Andersen,Memphis Grizzlies,7,PF,37,6-10,245.0,Blinn College,5000000
263,Bryce Cotton,Memphis Grizzlies,8,PG,23,6-1,165.0,Providence,700902
280,Dante Cunningham,New Orleans Pelicans,44,PF,29,6-8,230.0,Villanova,2850000
282,Bryce Dejean-Jones,New Orleans Pelicans,31,SG,23,6-6,203.0,Iowa State,169883
300,Danny Green,San Antonio Spurs,14,SG,28,6-6,215.0,North Carolina,10000000
308,David West,San Antonio Spurs,30,PF,35,6-9,250.0,Xavier,1499187
334,Courtney Lee,Charlotte Hornets,1,SG,30,6-5,200.0,Western Kentucky,5675000
338,Cody Zeller,Charlotte Hornets,40,C,23,7-0,240.0,Indiana,4204200
339,Chris Bosh,Miami Heat,1,PF,32,6-11,235.0,Georgia Tech,22192730
349,Dwyane Wade,Miami Heat,3,SG,34,6-4,220.0,Marquette,20000000
354,Dewayne Dedmon,Orlando Magic,3,C,26,7-0,245.0,USC,947276
360,Devyn Marble,Orlando Magic,11,SF,23,6-6,200.0,Iowa,845059
367,C.J. Watson,Orlando Magic,32,PG,32,6-2,175.0,Tennessee,5000000
372,Drew Gooden,Washington Wizards,90,PF,34,6-10,250.0,Kansas,3300000
383,Darrell Arthur,Denver Nuggets,0,PF,28,6-9,235.0,Kansas,2814000
384,D.J. Augustin,Denver Nuggets,12,PG,28,6-0,183.0,Texas,3000000
422,Cameron Payne,Oklahoma City Thunder,22,PG,21,6-3,185.0,Murray State,2021520
425,Dion Waiters,Oklahoma City Thunder,3,SG,24,6-4,220.0,Syracuse,5138430
427,Cliff Alexander,Portland Trail Blazers,34,PF,20,6-8,240.0,Kansas,525093
434,Chris Kaman,Portland Trail Blazers,35,C,34,7-0,265.0,Central Michigan,5016000
436,Damian Lillard,Portland Trail Blazers,0,PG,25,6-3,195.0,Weber State,4236287
437,C.J. McCollum,Portland Trail Blazers,3,SG,24,6-4,200.0,Lehigh,2525160
446,Derrick Favors,Utah Jazz,15,PF,24,6-10,265.0,Georgia Tech,12000000
451,Chris Johnson,Utah Jazz,23,SF,26,6-6,206.0,Dayton,981348

belongs to the team Portland Trail Blazers,Boston Celtics and salary is 3500000

In [113]:
df[(df['Team'].isin(('Portland Trail Blazers','Boston Celtics'))) &(df['Salary']>3500000)][['Name','Team','Height','Salary']]

                 Name                    Team Height   Salary
0       Avery Bradley          Boston Celtics    6-2  7730337
1         Jae Crowder          Boston Celtics    6-6  6796117
11      Isaiah Thomas          Boston Celtics    5-9  6912869
428   Al-Farouq Aminu  Portland Trail Blazers    6-9  8042895
431          Ed Davis  Portland Trail Blazers   6-10  6980802
433  Gerald Henderson  Portland Trail Blazers    6-5  6000000
434       Chris Kaman  Portland Trail Blazers    7-0  5016000
436    Damian Lillard  Portland Trail Blazers    6-3  4236287

In [115]:
df.sort_index(inplace=True)

In [116]:
df.sort_values(by='Team').drop_duplicates()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
310,Tim Hardaway Jr.,Atlanta Hawks,10,SG,24,6-6,205.0,Michigan,1304520
319,Mike Scott,Atlanta Hawks,32,PF,27,6-8,237.0,Virginia,3333333
323,Jeff Teague,Atlanta Hawks,0,PG,27,6-2,186.0,Wake Forest,8000000
316,Mike Muscala,Atlanta Hawks,31,PF,24,6-11,240.0,Bucknell,947276
309,Kent Bazemore,Atlanta Hawks,24,SF,26,6-5,201.0,Old Dominion,2000000
...,...,...,...,...,...,...,...,...,...
380,Garrett Temple,Washington Wizards,17,SG,30,6-6,195.0,LSU,1100602
381,Marcus Thornton,Washington Wizards,15,SF,29,6-4,205.0,LSU,200600
382,John Wall,Washington Wizards,2,PG,25,6-4,195.0,Kentucky,15851950
368,Alan Anderson,Washington Wizards,6,SG,33,6-6,220.0,Michigan State,4000000
369,Bradley Beal,Washington Wizards,3,SG,22,6-5,207.0,Florida,5694674

In [118]:
a=np.array([[1,2,3],[4,5,6]])

In [119]:
a.mean(axis=1)

array([2., 5.])

In [120]:
a.mean(axis=0)

array([2.5, 3.5, 4.5])

In [121]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235.0,LSU,1170960
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238.0,Gonzaga,2165160
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5,SG,23,6-8,206.0,Duke,1348440
451,Chris Johnson,Utah Jazz,23,SF,26,6-6,206.0,Dayton,981348
452,Trey Lyles,Utah Jazz,41,PF,20,6-10,234.0,Kentucky,2239800
453,Shelvin Mack,Utah Jazz,8,PG,26,6-3,203.0,Butler,2433333
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231.0,Kansas,947276

In [123]:
df.insert(1,column="New_Nae",value="Mr "+df.Name)

In [124]:
df

,Name,New_Nae,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,MrAvery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,MrJae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
3,R.J. Hunter,MrR.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
6,Jordan Mickey,MrJordan Mickey,Boston Celtics,55,PF,21,6-8,235.0,LSU,1170960
7,Kelly Olynyk,MrKelly Olynyk,Boston Celtics,41,C,25,7-0,238.0,Gonzaga,2165160
...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,MrRodney Hood,Utah Jazz,5,SG,23,6-8,206.0,Duke,1348440
451,Chris Johnson,MrChris Johnson,Utah Jazz,23,SF,26,6-6,206.0,Dayton,981348
452,Trey Lyles,MrTrey Lyles,Utah Jazz,41,PF,20,6-10,234.0,Kentucky,2239800
453,Shelvin Mack,MrShelvin Mack,Utah Jazz,8,PG,26,6-3,203.0,Butler,2433333
456,Jeff Withey,MrJeff Withey,Utah Jazz,24,C,26,7-0,231.0,Kansas,947276

In [125]:
df.rename(columns={'Team':"New Team",'Position':'New Position'})

,Name,New_Nae,New Team,Number,New Position,Age,Height,Weight,College,Salary
0,Avery Bradley,MrAvery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,MrJae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
3,R.J. Hunter,MrR.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
6,Jordan Mickey,MrJordan Mickey,Boston Celtics,55,PF,21,6-8,235.0,LSU,1170960
7,Kelly Olynyk,MrKelly Olynyk,Boston Celtics,41,C,25,7-0,238.0,Gonzaga,2165160
...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,MrRodney Hood,Utah Jazz,5,SG,23,6-8,206.0,Duke,1348440
451,Chris Johnson,MrChris Johnson,Utah Jazz,23,SF,26,6-6,206.0,Dayton,981348
452,Trey Lyles,MrTrey Lyles,Utah Jazz,41,PF,20,6-10,234.0,Kentucky,2239800
453,Shelvin Mack,MrShelvin Mack,Utah Jazz,8,PG,26,6-3,203.0,Butler,2433333
456,Jeff Withey,MrJeff Withey,Utah Jazz,24,C,26,7-0,231.0,Kansas,947276

In [129]:
df.where(df["Number"]>100)

    Name New_Nae Team  Number Position  Age Height  Weight College  Salary
0    NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
1    NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
3    NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
6    NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
7    NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
..   ...     ...  ...     ...      ...  ...    ...     ...     ...     ...
449  NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
451  NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
452  NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
453  NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN
456  NaN     NaN  NaN     NaN      NaN  NaN    NaN     NaN     NaN     NaN

[364 rows x 10 columns]

In [142]:
def conc(x,y):
    return x+y
df['conca']=df.apply(lambda a:conc(a['Name'],a['College']),axis=1)
    
df['conca']

0            Avery BradleyTexas
1          Jae CrowderMarquette
3      R.J. HunterGeorgia State
6              Jordan MickeyLSU
7           Kelly OlynykGonzaga
                 ...
449             Rodney HoodDuke
451         Chris JohnsonDayton
452          Trey LylesKentucky
453          Shelvin MackButler
456           Jeff WitheyKansas
Name: conca, Length: 364, dtype: object